@keyframes loading {
  0% {
    transform: translateX(0);
  }
  50%,
  100% {
    transform: translateX(460px);
  }
}

.post__skeleton-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.post__skeleton-item > div:not(:first-child) {
  margin-top: 12px;
}

.post__skeleton-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

.post__skeleton-name {
  width: 50%;
  height: 10px;
  border-radius: 8px;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}


.post__skeleton-title {
  width: 75%;
  height: 16px;
  border-radius: 8px;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
}

.post__skeleton-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}

.post__skeleton-content {
  width: 85%;
  height: 10px;
  border-radius: 8px;
  background: #f2f2f2;
  margin-top: 3px;
  position: relative;
  overflow: hidden;
}

.post__skeleton-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(to right, #f2f2f2, #ddd, #f2f2f2);
  animation: loading 2s infinite linear;
}
