.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 50px;
  position: absolute;
  max-height: 64px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.avatar {
  align-self: flex-end;
  width: 40px;
  height: 40px;
}