.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 50px;
  position: absolute;
  max-height: 64px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.04), 0px 2px 8px rgba(0, 0, 0, 0.08);
}

.avatar {
  align-self: flex-end;
  position: relative;
  width: 40px;
  height: 40px;
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 0;
  background-color: #FFFFFF;
  min-width: 180px;
  padding: 8px 0;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 100;
}

.dropdownContent div {
  padding: 12px 20px;
  display: block;
  cursor: pointer;

  color: #404040;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.dropdownContent div:hover {
  background-color: #F2F2F2;
}

.avatar:hover .dropdownContent {
  display: block;
}

