.modal__wrapper {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 100;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.modal__content {
  margin: 138px 380px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 80px;
  background: #FFFFFF;
  border-radius: 4px;

}

.modal__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #404040;
  margin-bottom: 20px;
}

.modal__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #404040;
  margin-bottom: 56px;
}

.modal__deleteIcon {
  width: 144px;
  height: 144px;
  margin-bottom: 40px;
}


.modal__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  min-width: 360px;

  background: #F54747;
  border-radius: 4px;
  outline: none;
  border: none;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;

  cursor: pointer;

  &:hover {
    background-color: lighten(#F54747, 3%);
  }
}

.modal__iconClose {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}