.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 64px;
  padding: 40px 50px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #404040;
}

.info__container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 20px 56px;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.info__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  left: 20px;
}

.info__title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #404040;
  margin-bottom: 8px;
}

.info__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #404040;
}

